{% extends 'base.html' %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <h1>Estas en la pagina de Inicio desde un Template: {{ productos[1]['nombre'] }}</h1>
    <a href="{{ url_for('crearProducto') }}">Crear</a>
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto['id'] }}</td>
            <td>{{ producto['nombre'] }}</td>
            <td>{{ producto['precio'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}